.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    margin: 0 auto;

    box-sizing: border-box;

    @media (max-width:999px) {
        width: 90%;
    }
}

.navbar-container {
    width: 100%;
    background-color: white;
    margin-bottom: 2rem;
}

.navbar__links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 50%;

    @media (max-width:1000px) {
        display: none;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        width: 60%;
    }
}


.navbar__links a {
    color: #333;
    font-weight: bold;

    text-decoration: none;
    background-image: linear-gradient(to right, red 0%, red 100%);
    background-position: 100% 100%; /* Start from the right */
    background-repeat: no-repeat;
    background-size: 0 2px; /* Initially no underline */
    color: black; /* Text color */
    padding-bottom: 2px; /* Spacing for the underline */
    transition: background-size 0.3s ease-in-out, background-position 0.3s ease-in-out; /* Animate background-size and position */
  
}


.navbar__links a:hover {
    background-size: 100% 2px; /* Expand the underline on hover */
}
