body {
  background-color: #F5F5F5;
}

.App {
  max-width: 100vw; /* Ensures the container doesn't exceed the viewport width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  overflow-x: hidden;
}

