.creative-studio-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
    @media (min-width: 1000px) {
        width: 70%; 
        border-right: solid 50px #333333;
    }

    height: auto;
    margin: 2rem auto;
    text-align: center;
}

.text-section {
    flex: 1;
    margin-bottom: 2rem;
    text-wrap: balance;
}

.text-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.text-section p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image-section img {
    max-width: 100%;
}
