.module-list-container {
    display: flex;
    justify-content: space-between; /* Even space between items */
    align-items: center;            /* Align items vertically in the center */
    align-items: stretch; /* Stretch all items to the same height */

    @media (min-width: 1000px) {
        width: 70%;
    }

    margin: 0 auto;
    gap: 10px;
}

.single-module {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;

    @media (min-width: 850px) {
        border-radius: 20px;
        width: 30%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    flex-shrink: 1;
}


ul {
    list-style-type: none; /* Removes the bullets */
    margin: 0;             /* Removes default margin */
    padding: 0;            /* Removes default padding */
}


ul li {
    display: flex;       /* Align SVG and text horizontally */
    align-items: center; /* Align items vertically */
}

ul .module-checkbox-item {
    margin-bottom: 10px; /* Space between items */
    width: 100%;
}

ul li svg {
    margin: 0 8px; /* Space between SVG and text */
    width: 10%;
}


.single-module-item-list {
    border-top: solid 1px #F5F5F5;
    padding: 0.5rem;
    text-align: left;
}

li p{
    margin: 0;
    width: 100%;
}