.testimonials-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;

    @media (min-width: 1000px) {
        width: 70%;
        padding: 0px 0px;
    }

    h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .testimonials-chunk {
        display: flex;
        margin: 0 auto;
        margin-bottom: 2rem;
        justify-content: space-between;
        align-items: stretch;

    }

    .testimonial-single {
        width: 30%;
        background-color: white;
        padding: 10px;

        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        
        .testimonial-text-par {
            font-style: italic;
        }

        .testimonial-name-par {
            width: fit-content;
        }
    }
}


.testimonials-container-mobile {
    h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .testimonial-text-par {
        font-style: italic;
        padding: 10px;
    }

    .testimonial-name-par {
        width: fit-content;
        margin-left: auto;
        margin-right: 1rem;
    }

}